header {
	margin-bottom: 40px;
}
footer {
	margin-top: 40px;
}

table {
	border-collapse: collapse;

	margin: 30px;
}
td,
th {
	border: 1px solid #000;

	padding: 5px;
}
th {
	background-color: #bbb;
}
td {
	padding: 15px;
}